html, body {
    font-family: Calibri, Verdana, Tahoma, Arial;
    margin: 0 auto 0 auto;
    padding: 0;
    height: 95vh;
    padding-top: 1.8vh;
}

.smooth h1 {
    text-shadow: 0 0 5vh #828282;
}

.smooth .bar {
    text-shadow: 0 0 2.5vh #828282;
}

h1 {
    text-align: center;
    font-size: 65vh;
    margin: 0;
    padding: 0;
}

.bar {
    text-align: center;
}

.bar.top, .bar.btm {
    height: 10%;
    font-size: 5vh;
}

.bar.mdl {
    height: 80%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}