.events-timeline .vco-storyjs {
    font-family: Calibri, Verdana, Tahoma, Arial !important;
}

    .events-timeline .vco-storyjs .twitter, .events-timeline .events-timeline .vco-storyjs .vcard, .events-timeline .events-timeline .vco-storyjs .messege, .events-timeline .events-timeline .vco-storyjs .credit, .events-timeline .events-timeline .vco-storyjs .caption, .events-timeline .events-timeline .vco-storyjs .zoom-in, .events-timeline .events-timeline .vco-storyjs .zoom-out, .events-timeline .events-timeline .vco-storyjs .back-home, .events-timeline .events-timeline .vco-storyjs .time-interval div.events-timeline .vco-storyjs .time-interval-major div, .events-timeline .events-timeline .vco-storyjs .nav-container {
        font-family: Calibri, Verdana, Tahoma, Arial !important;
    }

    .events-timeline .vco-storyjs h1.date, .events-timeline .vco-storyjs h2.date, .events-timeline .vco-storyjs h3.date, .events-timeline .vco-storyjs h4.date, .events-timeline .vco-storyjs h5.date, .events-timeline .vco-storyjs h6.date {
        font-family: Calibri, Verdana, Tahoma, Arial !important;
    }

    .events-timeline .vco-storyjs .timenav h1, .events-timeline .vco-storyjs .flag-content h1, .events-timeline .vco-storyjs .era h1, .events-timeline .vco-storyjs .timenav h2, .events-timeline .vco-storyjs .flag-content h2, .events-timeline .vco-storyjs .era h2, .events-timeline .vco-storyjs .timenav h3, .events-timeline .vco-storyjs .flag-content h3, .events-timeline .vco-storyjs .era h3, .events-timeline .vco-storyjs .timenav h4, .events-timeline .vco-storyjs .flag-content h4, .events-timeline .vco-storyjs .era h4, .events-timeline .vco-storyjs .timenav h5, .events-timeline .vco-storyjs .flag-content h5, .events-timeline .vco-storyjs .era h5, .events-timeline .vco-storyjs .timenav h6, .events-timeline .vco-storyjs .flag-content h6, .events-timeline .vco-storyjs .era h6 {
        font-family: Calibri, Verdana, Tahoma, Arial !important;
    }

    .events-timeline .vco-storyjs p, .events-timeline .vco-storyjs blockquote, .events-timeline .vco-storyjs blockquote p, .events-timeline .vco-storyjs .twitter blockquote p {
        font-family: Calibri, Verdana, Tahoma, Arial !important;
    }

    .events-timeline .vco-storyjs .vco-feature h1, .events-timeline .vco-storyjs .vco-feature h2, .events-timeline .vco-storyjs .vco-feature h3, .events-timeline .vco-storyjs .vco-feature h4, .events-timeline .vco-storyjs .vco-feature h5, .events-timeline .vco-storyjs .vco-feature h6 {
        font-family: Calibri, Verdana, Tahoma, Arial !important;
    }

.events-timeline .timeline-tooltip {
    font-family: Calibri, Verdana, Tahoma, Arial !important;
}
