node_modules
dist
.tmp
tmp
.sass-cache
app/bower_components
bower_components
app/components
app/lib
lib
components
reports/
build
*.log
[Bb]in
[Oo]bj
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
*.suo
*.user
*.sln.docstates
results/
DataStore
walls