@import "normalize-scss/normalize";

.inline-block{
	display: inline-block;
}

.strong {
	font-weight: bold;
}

table.calendar > tbody > tr > td{
	width: 14%;
}

.v-align-m,
table.v-align-m > tbody > tr > td{
	vertical-align: middle;
}

.clickable{
	cursor: pointer;
}

.day.clickable:hover{
	background-color:#f4f4f4 ;
}

.day0{
	font-size: 2.1em;
	font-weight: bold;
}
.day0 small{
	font-size: 0.3em;
}
.day1{
	font-size: 1.75em;
}
.day2{
	font-size: 1.5em;
}
.day3{
	font-size: 1.2em;
}

.hover-hide .hideable{
	width: 56px;
	height: 21px;
	border: none;
}
.hover-hide .hideable.selectable {
	padding-right: 16px;
}
.hover-hide select{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.hover-hide .hideable.onHover {
	display: inherit;
}
.hover-hide .hideable {
	display: none;
}

.hover-hide:hover .hideable.onHover {
	display: none;
}
.hover-hide:hover .hideable {
	display: inherit;
}

.hover-hide .glass{
	opacity: 0.1;
}
.hover-hide:hover .glass {
	opacity: inherit;
}