<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DataStore.Url" value="http://localhost/HttpDataStore/"/>
    <add key="DataStore.DbName" value="Events"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Crawlhandler for view.html" verb="GET" path="view.html" type="H.Crawly.GenericCrawlyHttpHandler`1[[FrontendProxy.EventDetailsProvider, FrontendProxy]], CrawlyHttpHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>